<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Generator</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web">
</head>
<body>
    <form class="input-box">
        <h2>Enter your request</h2>
        <input type="text" name="q" placeholder="I want to learn about turtles.">
        <label><input type="checkbox" name="imagegen" value="true">Allow Image Generation</label>
        <div class="submitbutton">
            <button type="submit" id="showButton">Submit</button>
            <div class="loader" id="hiddenDiv"></div>
        </div>
    </form>
    <h2 id="projects-list-title">Projects</h2>
    <div id="projects-list">
        {% for i in range(projects|length) %}
            <div id="project-item"><a href="/lastgen?project={{i}}" class="projectbutton">Project {{i + 1}}</a><p>"{{projects[i]}}"</p></div>
        {% endfor %}
    </div>
    <script>
        // Get references to the button and the hidden div
        var showButton = document.getElementById("showButton");
        var hiddenDiv = document.getElementById("hiddenDiv");

        // Add a click event listener to the button
        showButton.addEventListener("click", function() {
            // Change the display style to "block" to show the div
            hiddenDiv.style.display = "block";
        });
    </script>
</body>
</html>