.submitbutton {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-left: 0;
}
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #0079ca; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
    animation: spin 2s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.button {
    display: block;
    /* width: auto; */
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    background-color: #ddd;
    color: black;
}
.button:hover {
    background-color: #555;
    color: white;
}
.home{
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
html {
    margin: 0;
}
.floating-menu {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    background: #555;
    padding: 15px;
    width: 100%;
    z-index: 100;
    bottom: 50px;
    right: 0px;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.floating-menu p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
.floating-menu hr {
    margin: 10px;
}
#stylesheetlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#stylesheetlist .button {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
form button {
    width: 25%;
    border-radius: 7px;   
}
form textarea {
    border-radius: 7px;
    padding: 5px;
}
#view-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-weight: bold;
}
#view-nav .button {
    width: 40px;
    height: 40px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
#view-nav p {
    margin: 0;
    color: black;
}
#generation-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 5px;
}
.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}