.button {
    display: block;
    /* width: auto; */
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    background-color: #ddd;
    color: black;
    float: right;
}
.button:hover {
    background-color: #555;
    color: white;
}
.home{
    padding: 10px 20px;
    margin-top: 10px;
}
html {
    margin: 10px;
}
.floating-menu {
    font-family: sans-serif;
    background: yellowgreen;
    padding: 5px;
    width: 25%;
    z-index: 100;
    position: fixed;
    bottom: 50px;
    right: 0px;
}
.floating-menu p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14pt;
}
#stylesheetlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#stylesheetlist .button {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
form input[type=submit] {
    width: 25%;   
}
#view-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
#view-nav .button {
    width: 30px;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
#view-nav p {
    margin: 0;
}